.main-header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #521751;
  margin-bottom: 36px;
}

.main-header h1 {
  font-size: 2em;
  margin: 0;
  color: white;
}

.main-header h3 {
  font-size: 1.25em;
  margin: 0;
  color: #fa923f;
}

.input-right-align {
  text-align: right;
}

#myTabContent {
  padding-top: 20px;
}

.myCard {
  /* -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s; */
  transition: opacity 0.5s, transform 0.5s;
}

.cardVanish {
  opacity: 0;
  left: 100%;
  transform: translateX(200px);
}

.cardGone {
  display: none;
}