/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.main-header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background-color: #521751;
  margin-bottom: 36px;
}

.main-header h1 {
  font-size: 2em;
  margin: 0;
  color: white;
}

.main-header h3 {
  font-size: 1.25em;
  margin: 0;
  color: #fa923f;
}

/* .card {
  margin: auto;
  width: 70%;
} */

.inputRightAlign {
  text-align: right;
}

.showDailyWeight{
  background-color: #0000FF;
  -webkit-transition: width 2s, height 2s, background-color 2s, -webkit-transform 2s;
  transition: opacity 2s, background-color 2s, transform 2s;
}
.showDailyWeight:hover {
  opacity: 0;
  left: 100%;
  background-color: #FFCCCC;
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}
.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

/* .card {
  border: 1px solid #ccc;
  background-color: #eee;
  box-shadow: 1px 1px 1px #ccc;
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: .5rem;
  cursor: pointer;
}

.card_header h1 {
  margin: .3rem;
  padding: .3rem;
  font-size: 1.2rem;
}

.card_image img {
  max-width: 100%;
}

.card_content, .card_details {
  margin: .3rem;
  padding: .3rem;
  background-color: white;
  transition: opacity 0.3s ease-out;
}

.card_details {
  display: none;
  opacity: 0;
} */